
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>© 2023 Reflections. All rights reserved.
      Terms of Service | Privacy Policy | Contact Us</p>
  </div>
</div>
</body>
</html>
